$footer-bg-color: white;
$footer-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
$footer-text-color: black;
$footer-height: 8vh;
$footer-font-size: 0.95rem;

footer {
    background-color: $footer-bg-color;
    box-shadow: $footer-box-shadow;
    color: $footer-text-color;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $footer-height;
    text-align: center;
    font-size: $footer-font-size;
}