$navbar-bg-color: white;
$navbar-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
$nav-link-color: #6D6E70;
$hover-color: black;
$nav-link-font-weight: normal;
$nav-link-font-size: 1rem;
$nav-link-transition: color 0.3s;

.navbar-custom {
    box-shadow: $navbar-box-shadow;
    background-color: $navbar-bg-color;

    .navbar-nav {
        .nav-link {
            font-size: $nav-link-font-size;
            color: $nav-link-color;
            font-weight: $nav-link-font-weight;
            transition: $nav-link-transition;

            &.active-link {
                color: $hover-color;
            }

            &:hover {
                color: $hover-color;
            }
        }
    }

    .navbar-brand {
        padding-left: 20px;
        padding-right: 10px;
        width: 200px;
        height: 60px;
    }
}
