<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <a routerLink="/">
            <img class="navbar-brand" src="/logo.svg" alt="UpskillEnglish" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">

                    <!-- 
                    1. routerLink="/"
                    When the user clicks on this link, Angular will navigate to the specified route,
                    in this case, the root route (/), which usually corresponds to the Home page.
                    
                    2. routerLinkActive="active-link"
                    When the link's route is active, the class active-link will be applied to the anchor tag.
                    This allows you to style the active link differently from inactive links.
                    
                    3. [routerLinkActiveOptions]="{ exact: true }"
                    This is an Angular input binding that specifies additional options for the routerLinkActive directive.
                    By setting exact: true, you ensure that the active-link class is only applied when the router's URL matches
                    the link's URL exactly. Without exact: true, the active-link class would be applied to any link whose
                    route is a prefix of the current URL.
                    
                    4. aria-current="page"
                    This ARIA attribute specifically indicates that this link points to the current page the user is on.
                    It improves accessibility by informing screen readers about the user's current location in the navigation.
                    -->

                    <a class="nav-link" routerLink="/" routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/leaderboard" routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }" aria-current="page">Leaderboard</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="!authService.isLoggedIn()">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }" aria-current="page">Login</a>
                </li>
                <li class="nav-item" *ngIf="!authService.isLoggedIn()">
                    <a class="nav-link" routerLink="/signup" routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }" aria-current="page">Signup</a>
                </li>
                <li class="nav-item" *ngIf="authService.isLoggedIn()">
                    <a class="nav-link" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>