$card-bg: #FFFFFF;
$card-border: #DADFE1;
$card-title: black;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$border-radius: 12px;
$button-bg: #007bff;
$button-hover-bg: #0056b3;

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 80vh;
}

.headtext {
  margin: 20px 0;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    color: #333;
    font-weight: 510;
  }
}


.container {
  width: 100%;
  max-width: 800px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    font-size: 25px;
  }
}

.instruction {
  font-size: 20px;
  margin-bottom: 20px;
}

.passage {
  background-color: $card-bg;
  border: 1px solid $card-border;
  border-radius: $border-radius;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: $box-shadow;

  p {
    font-size: 1rem;
    line-height: 1.5;
  }
}

.response-display-box {
  background-color: $card-bg;
  border: 1px solid $card-border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 20px;
  margin-bottom: 20px;

  h3 {
    text-align: left;
    font-size: 1.5rem;
    color: #0056b3;
  }

  .item {
    margin-bottom: 20px;
    padding: 10px;

    .options {
      margin-top: 10px;
    }
  }
}

.submission {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  width: 100%;

  .submit-button {
    background-color: $button-bg;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-end;

    &:hover {
      background-color: $button-hover-bg;
    }
  }
}

.countdown {
  position: fixed;
  top: 100px;
  right: 50px;
  z-index: 999;
  color: red;
  padding: 25px;
  font-size: 2rem;
}

.score-display {
  margin-top: 40px;

  h3 {
    color: green;
  }
}
