$card-bg: #FFFFFF;
$card-border: #DADFE1;
$card-title: black;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$border-radius: 12px;
$button-bg: #007bff;
$button-hover-bg: #0056b3;
$loader-color: #007bff;

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 80vh;
}

.headtext {
  margin: 20px 0;
  text-align: center;

  h1 {
    font-size: 2rem;
    color: $card-title;
    font-weight: normal;
  }
}

.container {
  text-align: center;
  width: 100%;
  max-width: 800px;
}

.form-group {
  border: 1px solid $card-border;
  border-radius: $border-radius;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: $box-shadow;
  background-color: $card-bg;

  textarea {
    width: 100%;
    height: 300px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    outline: none;
    resize: vertical;
  }

  h2 {
    text-align: left;
    font-size: 1.7rem;
    color: #0056b3;
    font-weight: normal;
    margin-bottom: 10px;
  }
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 20px;
}

button {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  background-color: $button-bg;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $button-hover-bg;
  }
}

.response-display-box {
  background-color: $card-bg;
  border: 1px solid $card-border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 20px;
  margin-top: 20px;
  text-align: left;
}

h3 {
  text-align: left;
  font-size: 1.7rem;
  color: #0056b3;
  font-weight: normal;
  margin-bottom: 10px;
}

.item {
  margin-bottom: 20px;
  padding: 10px;
}