

 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Quiz Generator</title>
 </head>
 <body>
     <div class="headtext"><h1>Upskill your knowledge</h1></div>
     <div class="container">
         <div class="topics">
             <button>Islamic History</button>
             <button>The Noble Quran</button>
             <button>Prophet Muhammad</button>
             <button>Bangladesh</button>
             <button>World History</button>
             <button>Cricket</button>
             <button>C++</button>
             <button>Competitive Programming</button>
             <button>Java</button>
             <button>Spring Boot</button>
             <button>OOP</button>
             <button>Design Pattern</button>
             <button>PostgreSQL</button>
             <button>Python</button>
             <button>Machine Learning</button>
             <button>Mathematics</button>
             <button>Physics</button>
             <button>Chemistry</button>
         </div>
     </div>
 </body>
 </html>

