<section>
    <div class="headtext">
        <h1>Practice Features</h1>
    </div>
    <div class="container">
        <div class="topics">
            <a href="feature/quick-practice">
                <div class="card">
                    <img src="https://img.icons8.com/?size=100&id=18185&format=png&color=000000" alt="Quick Practice">
                    <div class="card-body">
                        <h5 class="card-title">Quick Practice</h5>
                    </div>
                </div>
            </a>
            <a href="feature/improve-writing">
                <div class="card">
                    <img src="https://img.icons8.com/?size=100&id=sCLOqyP7ZwkS&format=png&color=000000"
                        alt="Improve Writing">
                    <div class="card-body">
                        <h5 class="card-title">Improve Writing</h5>
                    </div>
                </div>
            </a>
            <a href="feature/generate-passage">
                <div class="card">
                    <img src="https://img.icons8.com/?size=100&id=1XC4uBNTuTr1&format=png&color=000000"
                        alt="Generate Passage">
                    <div class="card-body">
                        <h5 class="card-title">Generate Passage</h5>
                    </div>
                </div>
            </a>
            <a href="feature/generate-question">
                <div class="card">
                    <img src="https://img.icons8.com/?size=100&id=17601&format=png&color=000000"
                        alt="Generate Question">
                    <div class="card-body">
                        <h5 class="card-title">Generate Question</h5>
                    </div>
                </div>
            </a>
            <a href="feature/improve-listening">
                <div class="card">
                    <img src="https://img.icons8.com/?size=100&id=4CvT2ue9OxHQ&format=png&color=000000"
                        alt="Generate Audio">
                    <div class="card-body">
                        <h5 class="card-title">Improve Listening</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="headtext">
        <h1>Assessment Features</h1>
    </div>
    <div class="container">
        <div class="topics">
            <div class="card">
                <img src="https://img.icons8.com/?size=100&id=DN5mpaWsNLUM&format=png&color=000000" alt="Mock Test">
                <div class="card-body">
                    <h5 class="card-title">Mock Test</h5>
                </div>
            </div>
            <div class="card">
                <img src="https://img.icons8.com/?size=100&id=17035&format=png&color=000000" alt="Reading Test">
                <div class="card-body">
                    <h5 class="card-title">Reading Test</h5>
                </div>
            </div>
            <div class="card">
                <img src="https://img.icons8.com/?size=100&id=E1Io1QTAzIaF&format=png&color=000000" alt="Writing Test">
                <div class="card-body">
                    <h5 class="card-title">Writing Test</h5>
                </div>
            </div>
            <div class="card">
                <img src="https://img.icons8.com/?size=100&id=eJGGAiewEyoG&format=png&color=000000"
                    alt="Listening Test">
                <div class="card-body">
                    <h5 class="card-title">Listening Test</h5>
                </div>
            </div>
        </div>
    </div>
</section>